<apex:page docType="html-5.0" showHeader="false" sidebar="false" standardController="workorder" extensions="ChangeAssigneeToWorlkorderExtension">
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
        <apex:stylesheet value="{!URLFOR($Resource.SLDS, 'assets/styles/salesforce-lightning-design-system.css')}"/>
         <style>
           
        	@media only screen and (min-width: 764px){
            	.mobile {
            		display: none;
            	}
            }
            
            @media only screen and (max-width: 764px){
            	.desktop {
            		display: none;
            	}
            }
            
        </style>
        <apex:form >
            
            <apex:pageMessages id="theMessage"/>
             <div class="desktop">
            <div class="slds">
                <div class="slds-box">
                    
                    <div class="slds-page-header" role="banner" style="padding-top: 8px; padding-bottom: 8px;margin-top:15px;margin-bottom:15px;">
                        <div class="slds-media">
                            <div class="slds-media__body" >
                                <p class="slds-page-header__title slds-truncate slds-align-middle" style="color:rgb(84, 105, 141);font-size:.8rem;font-weight:bold;font-family: 'Salesforce Sans',Arial,sans-serif;">WorkOrder Date</p>
                            </div>
                        </div>
                    </div>
                    
                    
                    <apex:outputPanel rendered="{!techni}">
                        <apex:outputPanel >
                            <div class="slds-grid" style="margin-bottom:25px;margin-right:200px;">
                                <div class="slds-col" style="margin-top:25px">
                                    <div class="slds-form--horizontal" >
                                        <label class="slds-form-element__label">Start Time</label>
                                        <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--right dateDiv2">
                                            <apex:input type="datetime-local" label="Start Date" value="{!StartTime}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-col"  style="margin-top:25px">
                                    <div class="slds-form--horizontal" >
                                        <label class="slds-form-element__label">End Time</label>
                                        <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--right dateDiv2">
                                            <apex:input type="datetime-local" label="End Date" value="{!EndTime}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </apex:outputPanel>
                    </apex:outputPanel>
                    <apex:outputPanel rendered="{!vendor}">
                        <div class="slds-form-element"  style="margin-left:470px;margin-right:300px;margin-top:25px;">
                            <label class="slds-form-element__label"> TECHNICIAN :</label>
                            <div class="slds-select_container" style="Width:400px;">
                                <apex:selectList styleClass="slds-select" value="{!techniName}" multiselect="false" size="1" >
                                    <apex:selectOptions value="{!userOption}" />
                                </apex:selectList>
                            </div>
                        </div>
                        <div  style="margin-top: 10px; padding: 10px;">
                            <div class="slds-grid" >
                                <div class="slds-col" style="margin-left:570px;">
                                    <apex:commandButton id="saveBtn" value="Save" action="{!UpdateWrk}"  styleClass="slds-button slds-button--neutral"  style="color: #0070d2;border-radius: 0.25rem;shape-margin: initial;background: white;line-height:inherit;height:35px;width:65px;font-size :14px;font-weight:normal;border: 1px solid #d8dde6;ffamily: 'Salesforce Sans',Arial,sans-serif;" reRender="" />
                                </div>
                                <div class="slds-col" style="margin-right:570px;">
                            <apex:commandButton value="Cancel" id="cancelButton" action="{!Cancel}" styleClass="slds-button slds-button--neutral"  style="color: #0070d2;border-radius: 0.25rem;shape-margin: initial;background: white;line-height:inherit;height:35px;width:65px;font-size :14px;font-weight:normal;border: 1px solid #d8dde6;ffamily: 'Salesforce Sans',Arial,sans-serif;"   onclick="redirect(true);"/>
                                </div>
                            </div>
                                </div>
                    </apex:outputPanel>
                </div>
            </div>
            </div>
            
             <div class="mobile">
            <div class="slds">
                <div class="slds-box">
                    
                    <div class="slds-page-header" role="banner" style="padding-top: 8px; padding-bottom: 8px;margin-top:15px;margin-bottom:15px;">
                        <div class="slds-media">
                            <div class="slds-media__body" >
                                <p class="slds-page-header__title slds-truncate slds-align-middle" style="color:rgb(84, 105, 141);font-size:.8rem;font-weight:bold;font-family: 'Salesforce Sans',Arial,sans-serif;">WorkOrder Date</p>
                            </div>
                        </div>
                    </div>
                    
                    
                    <apex:outputPanel rendered="{!techni}">
                        <apex:outputPanel >
                            <div class="slds-grid" style="margin-bottom:25px;margin-right:200px;">
                                <div class="slds-col" >
                                    <div class="slds-form--horizontal"  style="margin-top:25px;">
                                        <label class="slds-form-element__label">Start Time : </label>
                                        <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--right dateDiv2">
                                            
                                            <apex:input type="datetime-local" label="Start Date" value="{!StartTime}"/>
                                        </div>
                                    </div>
                             
                                    <div class="slds-form--horizontal"  style="margin-top:25px;">
                                        <label class="slds-form-element__label">End Time : </label>
                                        <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--right dateDiv2">
                                            <apex:input type="datetime-local" label="End Date" value="{!EndTime}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </apex:outputPanel>
                    </apex:outputPanel>
                    <apex:outputPanel rendered="{!vendor}">
                        <div class="slds-form-element"  style="margin-top:25px;">
                            <label class="slds-form-element__label"> TECHNICIAN :</label>
                            <div class="slds-select_container" >
                                <apex:selectList styleClass="slds-select" value="{!techniName}" multiselect="false" size="1" >
                                    <apex:selectOptions value="{!userOption}" />
                                </apex:selectList>
                            </div>
                        </div>
                        <div  style="margin-top: 10px; padding: 10px;">
                            <div class="slds-grid"  style="margin-top:25px;">
                                <div class="slds-col" >
                                    <apex:commandButton id="saveBtn1" value="Save" action="{!UpdateWrk}"  styleClass="slds-button slds-button--neutral"  style="color: #0070d2;border-radius: 0.25rem;shape-margin: initial;background: white;line-height:inherit;height:35px;width:65px;font-size :14px;font-weight:normal;border: 1px solid #d8dde6;ffamily: 'Salesforce Sans',Arial,sans-serif;" reRender="" />
                                </div>
                                <div class="slds-col">
                            <apex:commandButton value="Cancel" id="cancelButton1" action="{!Cancel}" styleClass="slds-button slds-button--neutral"  style="color: #0070d2;border-radius: 0.25rem;shape-margin: initial;background: white;line-height:inherit;height:35px;width:65px;font-size :14px;font-weight:normal;border: 1px solid #d8dde6;ffamily: 'Salesforce Sans',Arial,sans-serif;"   onclick="redirect(true);"/>
                                </div>
                            </div>
                                </div>
                    </apex:outputPanel>
                </div>
            </div>
            </div>
            
        </apex:form>
    </html>
</apex:page>