<apex:page docType="html-5.0" showHeader="false" sidebar="false" standardController="workorder" extensions="ChangeAssigneeToWorlkorderExtension">

<head>
    <apex:slds />
    <style>
        .bPageBlock {
        	width: 45%;
        	margin:50px !important;
        	background-color: #fff !important;
        	border: none;
            border: 1px solid #dddddd !important;
        }
        .pbBody {
        	margin: 0 !important;
        }
        .pbSubheader  {
        	position: relative;
            background-color: #fff !important;
            color: #333 !important;
            text-align: left;
        	margin: 0;
        	padding: 0;
        }
        
        .pbSubsection th {
        	text-align: left;
            width: auto !important;
            margin: 0;
            padding-right: 0 !important;
        	float:left;
        }
        
         .pbSubsection td {
        	text-align: left;
            width: auto !important;
            margin: 0;
            padding: 0;
        	float:left;
        	margin-right: 10px !important; 
        }
        
        .pbSubheader img {
        	display: none;
        }
        
        .pbSubheader h3 {
        	padding: 10px;
        	background: #f7f9fb;
        	font-size: 12px !important;
        }
        .pbSubsection{
        	padding: 10px 15px;
            font-size: 10px;
        }
        
       
    </style>
</head>
<apex:pageMessages id="theMessage"/>
    <div class="slds-scope">
        <div align="Center">
            <apex:form >
                <apex:pageBlock >   
                    <apex:outputPanel rendered="{!techni}">
                        <apex:pageBlockSection title="WorkOrder Date" collapsible="true">
                            <apex:input type="datetime-local" label="Start Date" value="{!StartTime}"/>
                            <apex:input type="datetime-local" label="End Date" value="{!EndTime}"/>
                        </apex:pageBlockSection>
                    </apex:outputPanel>
                    <apex:outputPanel rendered="{!vendor}">
                        <apex:pageBlockSection >
                        <apex:selectList label="Technician:" value="{!techniName}" size="1" multiselect="false">
                            <apex:selectOptions value="{!userOption}"/>
                        </apex:selectList>
                        </apex:pageBlockSection>
                        <div align="Right" style="margin-top: 10px; padding: 10px;">
                         <apex:commandButton value="Cancel" id="cancelButton" styleClass="slds-button slds-button--neutral" action="{!Cancel}"   reRender="" style="margin: 5px;"/>
                         <apex:commandButton id="saveBtn" value="Save" action="{!UpdateWrk}"  style="color: white; shape-margin: initial;background: #0070d2;line-height:inherit;margin: 5px; width:60px;height:31px;font-weight: 100; border:none;" onclick="redirect(true);"/>
                        </div>
                    </apex:outputPanel>
                </apex:pageBlock>
            </apex:form>
        </div>
    </div>
</apex:page>