<apex:page standardController="Contract" showHeader="false"  extensions="FinalAgreementPdf"  >

   
  <apex:form id="fmId" >
     <apex:pageMessages id="msgId"></apex:pageMessages>
    <apex:actionFunction name="saveAttachement" action="{!saveAttachement}" reRender="fmId" oncomplete="closePage('{!Contract.Opportunity__c}')" />  
    <!-- <apex:actionFunction name="redirectToParentPage" action="{!redirectToParentPage}" rerender="allPanel"/> -->

        <script>
           window.onload=function()
           {
             saveAttachement();
           
           };
           function closePage(oppId){
              var error = '{!isError}';
            
              console.log('****'+ error);
               if ( (typeof sforce != 'undefined') && sforce && (!!sforce.one) ){
                   if(error === 'false'){
                       sforce.one.navigateToSObject(oppId);  
                   }
                   
               }       
               else { 
                   
                   if(error === 'false'){
                       
                       console.log('************************ '+error);
                        window.close();
                   }
                   
                   //redirectToParentPage();
               }
           }
        </script>

  </apex:form>

</apex:page>