<!--
* Created By: 	Sanjeev Shukla(KVP Business Solutions)
* Created Date:	18/March/2017
* Description:	I wrote code to implement the Opportunity Sales Path functionality 
*				for salesforce classic, Lightning Experience and Salesforce1. 
-->

<apex:page standardController="Opportunity" extensions="OpportunitySalesPathController"  id="thePage" docType="html-5.0" standardStylesheets="false" applyBodyTag="false" showHeader="false" sidebar="false">
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
        <head>
            <!-- Import the Design System style sheet -->
            <apex:slds />
        </head>
        <apex:form >
            <apex:inputHidden value="{!Opportunity.StageName}"/>
            <apex:inputHidden value="{!stageList}"/>
        </apex:form> 
        <div class="slds-scope">
            <div class="slds">
                <div class="site-example--content">
                    <div class="slds-tabs--path" role="application">
                        <ul class="slds-tabs--path__nav" role="tablist">
                            <apex:repeat value="{!stageList}" var="stg" rendered="{!If(Opportunity.StageName != NULL,true,false)}">
                                <!--apply class based current, completed or closed status values-->
                                <li class="slds-tabs--path__item {!IF((Opportunity.StageName == 'Lost' && stg == 'Lost') || (Opportunity.StageName == 'Dropped' && stg == 'Dropped'),'slds-is-lost',IF((Opportunity.StageName == 'Lost' || Opportunity.StageName == 'Dropped') && (stg != 'Lost' || stg != 'Dropped'),'slds-is-incomplete',IF(stageMap[stg] < currentStageNum ,'slds-is-complete',IF(stageMap[stg] == currentStageNum ,'slds-is-current','slds-is-incomplete'))))}" role="presentation">    
                                    <a class="slds-tabs--path__link"  aria-controls="content-path-1" aria-selected="false" tabindex="-1" role="tab" href="javascript:void(0);" aria-live="assertive">
                                        <span class="slds-tabs--path__stage">
                                            <svg class="slds-icon slds-icon--x-small" aria-hidden="true">
                                                <use xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#check')}"></use>
                                            </svg>
                                            <span class="slds-assistive-text">Stage Complete</span>
                                        </span>
                                        <span class="slds-tabs--path__title">{!stg}</span>
                                    </a>
                                </li>
                            </apex:repeat>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </html>
</apex:page>