<apex:page standardController="Order" showHeader="false"  extensions="OrderGenratePDFPurchaseOrder">
    <apex:form >
        <apex:pageMessages id="msgId"></apex:pageMessages>
        <apex:actionFunction name="sendEmail" action="{!sendEmail}" reRender="msgId" oncomplete="closePage('{!iPageOrderId}')"/>
        <apex:actionFunction name="redirectToParentPage" action="{!redirectToParentPage}" rerender="allPanel"/>
        <apex:actionFunction name="redirectToParentPage" action="{!redirectToParentPage}" ></apex:actionFunction>
        <script>
        window.onload=function()
        {
            var error = '{!isError}';
            console.log('sendEmail  ' +error);
            sendEmail();
        };
        function closePage(orderId){
            var error = '{!isError}';
            console.log('****'+ error);
            if ( (typeof sforce != 'undefined') && sforce && (!!sforce.one) ){
                if((error == false || error=='false')){
                    //alert('Purchase Order is sent to Vendor' );
                    sforce.one.navigateToSObject(orderId);  
                }
                else{
                    console.log('entered else block so there is some error');
                    alert('Error in sending email as email id is not valid ');
                    return;
                }
                
            }       
            else { 
                if(!error)
                    alert('Purchase Order is sent to Vendor' );
                    window.close();
                redirectToParentPage();
            }
        }
        </script>
        
    </apex:form>
    
</apex:page>