<apex:page standardController="Contract" extensions="SampleContractPDFController" showHeader="false" sidebar="false" renderAs="pdf">

<apex:pageBlock rendered="{!IF( isSampleContractApproved == false, true, false)}">
    Sample Contract cannot be generated without ZM's Approval
</apex:pageBlock>
<apex:pageBlock rendered="{!IF( isSampleContractApproved == true, true, false)}">

  <html>
      <img src="{!URLFOR($Resource.watermark)}" width="100%" height="100%" 
     style="position: fixed;background-repeat:repeat;left: 2cm; top:10cm; z-index:0;"/>
      <body>
          <apex:image url="{!$Resource.nestAwayLogo}" width="150" height="40" style="margin-left:40%;"/>
          
          
          <p align="justify">&nbsp;</p>
          <p align="justify">&nbsp;</p>
          <p align="justify">&nbsp;</p>
          <p align="justify">&nbsp;</p>
          <p align="justify">&nbsp;</p>
          <p align="justify">&nbsp;</p>
          <p align="justify">&nbsp;</p>
          <p align="justify">&nbsp;</p>
          <p align="justify">&nbsp;</p>
          <p align="justify">&nbsp;</p>
          <p align="justify">&nbsp;</p>
          <p align="justify">&nbsp;</p>
          <p align="justify">&nbsp;</p>
          <p align="justify">&nbsp;</p>
          <p align="justify">&nbsp;</p>
          <p align="center"><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;"><strong>LETTER OF INTENT</strong></span></span></p>
<p><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;">This Letter of Intent ("LOI") is executed on this </span></span><span style="color: #000000;"><span style="font-family: 'Book Antiqua', serif;"><apex:outputField value="{!naContract.Service_Agreement_In_Effect_Date__c}"/></span></span> <span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;">("Execution Date"):</span></span></p>
<p><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;">By </span></span><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;">and Between</span></span></p>

<p align="justify"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;">Mr. </span></span><span style="font-family: 'Bookman Old Style', serif;"><strong><apex:outputField value="{!naContract.Name__c}"/>, </strong></span><span style="font-family: 'Bookman Old Style', serif;">residing at </span>&nbsp;<span style="color: #000000;"><span style="font-family: 'Bookman Old Style', serif;"><apex:outputField value="{!houseOpportunity.Account.BillingStreet}" />,&nbsp;<apex:outputField value="{!houseOpportunity.Account.BillingCity}" />,&nbsp;<apex:outputField value="{!houseOpportunity.Account.BillingState}" />,&nbsp;<apex:outputField value="{!houseOpportunity.Account.BillingPostalCode}" />,&nbsp;<apex:outputField value="{!houseOpportunity.Account.BillingCountry}"/> &nbsp; ,</span></span><span style="font-family: 'Bookman Old Style', serif;"> (hereinafter referred to as the "</span><span style="font-family: 'Bookman Old Style', serif;"><strong>Party A</strong></span><span style="font-family: 'Bookman Old Style', serif;">",&nbsp;</span>which term shall, unless it is repugnant to the context, mean and include its executors, administers and permitted assigns) of the First Part;</p>

<p align="justify">And</p>

<p align="justify"><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;"><strong>Nestaway Technologies Private Limited</strong></span></span><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;">, a private limited company registered under the Companies Act, 2013 having its registered office at #1546 and 1547, 19</span></span><sup><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;">th</span></span></sup><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;"> Main, HSR Layout, Sector 1, Bangalore 560102 (hereinafter referred to as "</span></span><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;"><strong>Party B</strong></span></span><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;">" which expression shall, unless it to be repugnant to the context or meaning thereof, deem to mean and include its executors, administers and permitted assigns), of the Second Part;</span></span></p>
<p align="justify"><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;">Party A and Party B are hereinafter collectively referred to as the "Parties" and individually as "Party."</span></span></p>

<p align="justify"><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;">WHEREAS:</span></span></p>
<ol style="list-style-type: upper-alpha;">
<li>
<p align="justify"><span style="color: #000000;"><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;">Party A is the actual owner of or is solely entitled to license the property located at &nbsp;<apex:outputField value="{!houseOpportunity.Door_Apartment_Number__c}" />,&nbsp;<apex:outputField value="{!houseOpportunity.Street__c}" />,&nbsp;<apex:outputField value="{!houseOpportunity.City__c}" />,&nbsp;<apex:outputField value="{!houseOpportunity.State__c}" />,&nbsp;<apex:outputField value="{!houseOpportunity.Country__c}" />,&nbsp;<apex:outputField value="{!houseOpportunity.Pin_Code__c}" /></span></span></span>&nbsp;<span style="color: #000000;"><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;">(hereinafter referred to as the "Scheduled Premises").</span></span></span></p>
</li>
<li>
<p align="justify"><span style="color: #000000;"><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;">Party B is engaged in the business of building a technology based platform for real estate market, facilitating rental transactions and providing various services and processes around it through its website </span></span></span><a href="http://www.nestaway.com/"><span style="color: #0000ff;"><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;"><u>www.nestaway.com</u></span></span></span></a><span style="color: #000000;"><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;"> ("</span></span></span><span style="color: #000000;"><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;"><strong>Website</strong></span></span></span><span style="color: #000000;"><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;">").</span></span></span></p>
</li>
<li>
<p align="justify"><span style="color: #000000;"><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;">Party A is willing to utilize services of Party B as set out herein below and as mutually decided between the Parties.</span></span></span></p>
</li>
</ol>
<p align="justify"><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;"><strong>NOW THEREFORE THIS AGREEMENT WITNESSETH AS UNDER:</strong></span></span></p>
<ol>
<li>
<p align="left"><span style="color: #000000;"><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;"><strong>Appointment</strong></span></span></span></p>
<p align="justify"><span style="color: #000000;"><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;">Party A hereby appoints Party B for the services provided by Party B as explained above for the Scheduled Premises. Pursuant to the execution of this LOI, Party B may upload all the necessary Scheduled Premises on its Website and shall search for the suitable licensee(s) in accordance with the preference provided by Party A.</span></span></span></p>
<p align="justify"><span style="color: #000000;"><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;">In the event Party A decides to keep the licensee of his/her own choice who have not been sourced or introduced by Party B and who have not seen the listing of the Scheduled Premises on Party B's website and for whom Party A has not utilized any services of Party B, the LOI will be automatically terminated after Party A has refunded the Token Amount (defined subsequently) to Party B. </span></span></span></p>
</li>
<li>
<p align="justify"><span style="color: #000000;"><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;"><strong>Commercial Terms</strong></span></span></span></p>
<p align="justify"><span style="color: #000000;"><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;">The monthly rent for the Scheduled Premises shall be </span></span></span><span style="color: #000000;"><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;"><strong></strong></span></span></span> <span style="color: #000000;"><span style="font-family: Calibri, serif;"><span style="font-size: small;"><u><strong>&nbsp;<apex:outputField value="{!naContract.Base_House_Rent__c}" /></strong></u></span></span></span><span style="color: #000000;"><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;">/-</span></span></span><span style="color: #000000;"><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;"> as mutually decided by the Parties and the total security advance required by Party A against providing the Scheduled Premises under leave and license arrangement/rent/lease is </span></span></span><span style="color: #000000;"><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;"><strong></strong></span></span></span><span style="color: #000000;"><span style="font-family: Calibri, serif;"><u><strong>&nbsp;<apex:outputField value="{!naContract.Maximum_SD_Amount__c}" /></strong></u></span></span><span style="color: #000000;"><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;">.</span></span></span></p>
</li>
<li>
<p align="justify"><span style="color: #000000;"><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;"><strong>Token Amount</strong></span></span></span></p>
<p align="justify"><span style="color: #000000;"><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;">Pursuant to the execution of this LOI, Party B shall provide a token amount ("Token Amount") of </span></span></span><span style="color: #000000;"><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;">&nbsp;<apex:outputField value="{!naContract.SD_Upfront_Amount__c}" /></span></span></span><span style="color: #000000;"><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;">/- to Party A. It is explicitly agreed between the Parties herein that in the event if Party B is unable to provide licensee(s) in the Schedule Premises within </span></span></span><span style="color: #000000;"><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;">20</span></span></span><span style="color: #000000;"><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;"> days from the date the Schedule Premises is displayed on the Website, Party A shall forthwith return the Token Amount to Party B after which the LOI will stand terminated. However, if Party B provides suitable licensee in the Schedule Premises within the stipulated time, Party A &amp; Party B will execute an agreement ("Service Agreement") governing the rights and obligations of each Party. The Service Agreement will supersede this LOI. The remaining security advance, after deducting the Token Amount, shall be paid to Party A as per the terms of the Service Agreement. </span></span></span></p>
</li>
<li>
<p align="justify"><span style="color: #000000;"><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;"><strong>Consideration</strong></span></span></span></p>
<p align="justify"><span style="color: #000000;"><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;">In the event Party B is able to arrange the licensee for the Scheduled Premises or the licensee in the Scheduled Premises have used the services of Party B for taking the Scheduled Premises on leave and license arrangement/rent/lease from Party A, then Party A will pay Party B, every month, an amount equivalent to </span></span></span><span style="color: #000000;"><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;">&nbsp;<apex:outputField value="{!naContract.Monthly_Rental_Commission__c}" /></span></span></span><span style="color: #000000;"><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;"> service charges, of the monthly rent payable by the licensee to Party A. This amount is payable in respect of the services provided by Party B to Party A for the Scheduled Premises. Notwithstanding anything contained in this LOI, in the event Party B is able to arrange the licensee for the Scheduled Premises or the licensee in the Scheduled Premises have used the services of Party B for taking the Scheduled Premises on leave and license arrangement/rent/lease from Party A, this LOI will remain effective till it is superseded by a Service Agreement.</span></span></span></p>
</li>
<li>
<p align="justify"><span style="color: #000000;"><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;"><strong>Termination</strong></span></span></span></p>
<p align="justify"><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;">Either Party can terminate this LOI in the event:</span></span></p>
<ol style="list-style-type: lower-alpha;">
<li>
<p align="left"><span style="color: #000000;"><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;">Party B unable to provide any licensee within a period of </span></span></span><span style="color: #000000;"><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;">20</span></span></span><span style="color: #000000;"><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;"> days from the date of this LOI.</span></span></span></p>
</li>
<li>
<p align="left"><span style="color: #000000;"><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;">mutual agreement between the Parties.</span></span></span></p>
</li>
</ol>
</li>
</ol>
<p>&nbsp;</p>
<p align="justify"><span style="color: #000000;"><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;">_________________________</span></span></span></p>
<p align="justify"><span style="color: #000000;"><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;">[Owner]</span></span></span></p>
<p align="justify">&nbsp;</p>
<p align="justify">&nbsp;</p>
<p align="justify"><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;">_________________________.</span></span></p>
<p align="justify"><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;">For Nestaway Technologies Pvt. Ltd.</span></span></p>
<p><span style="font-family: 'Book Antiqua', serif;"><span style="font-size: medium;">(Authorized signatory) </span></span></p>


      </body>
  </html>
  </apex:pageBlock>
</apex:page>