<apex:page standardController="contract">

  <apex:form >
   
        <script>
             window.onload=function()
             {
                if('{!Contract.Agreement_Type__c}' != 'LOI'){    
                    if('{!Contract.Tenancy_Type__c}' == 'Family'){
                          window.open("{!URLFOR($Site.Prefix+'/SampleFamilyAgremeent?Id='+Contract.Id)}","_self");
                    }else{
                        window.open("{!URLFOR($Site.Prefix+'/SampleBachelorAgremeent?Id='+Contract.Id)}","_self");
                    }
                }else{
                    window.open("{!URLFOR($Site.Prefix+'/SampleLOIPDF?Id='+Contract.Id)}","_self");
                }   
            };
        </script>
        

  </apex:form>
  
</apex:page>